.card {
  background-color: var(--mantine-color-card-bg-5);
  border-color: var(--mantine-color-border-5);
  box-shadow:
    0 4px 24px 0 rgba(0, 0, 0, 0.18),
    0 1.5px 6px 0 rgba(187, 180, 201, 0.1);
  transition:
    transform 0.15s cubic-bezier(0.4, 2, 0.6, 1),
    box-shadow 0.15s,
    border-color 0.15s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px !important;

  &:hover,
  &:focus-visible {
    transform: scale(1.03) translateY(-2px);
    box-shadow:
      0 8px 32px 0 rgba(0, 0, 0, 0.22),
      0 3px 12px 0 rgba(187, 180, 201, 0.18);
    border-color: var(--mantine-color-secondary-5);
    z-index: 1;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: light-dark(
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.05) 50%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0) 100%
    )
  );
  padding: 0;
  margin: 0;
}

.image {
  object-fit: contain;
  padding: var(--mantine-spacing-xs);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--mantine-spacing-md) 0px;
}

.title {
  text-align: left;
  background: linear-gradient(
    to bottom,
    var(--mantine-color-accent1-5) 0%,
    var(--mantine-color-primary-3) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: light-dark(
    0 1px 1px var(--mantine-color-primary-5),
    0 1px 2px rgba(0, 0, 0, 0.18),
    0 2px 8px var(--mantine-color-primary-5),
    0 1px 2px rgba(0, 0, 0, 0.18)
  );
  letter-spacing: 0.5px;
}

.category {
  color: var(--mantine-color-text);
  text-transform: uppercase;
}
