.game {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

.logoContainer {
  border: 2px solid transparent;
  background-color: transparent;

  &:hover {
    border: 2px solid var(--mantine-color-primary-5);
    background-color: var(--mantine-color-primary-7);
  }
}

.logo {
  object-fit: contain;
  overflow: hidden;
}

.menu {
  background-color: var(--mantine-color-card-bg-6);
  border-color: var(--mantine-color-border-5);
}

.menuItem {
  border: 2px solid transparent;
  background-color: transparent;

  &:hover {
    border: 2px solid var(--mantine-color-primary-5);
    background-color: var(--mantine-color-primary-7);
  }
}
