.game {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-8)
    );
  }
}

.logoContainer {
  border: 2px solid transparent;

  &:hover {
    border: 2px solid var(--mantine-color-primary-4);
  }
}

.logo {
  object-fit: contain;
  overflow: hidden;
}

.menu {
  background-color: var(--mantine-color-card-bg-6);
  border-color: var(--mantine-color-border-5);
}

.menuItem {
  background-color: var(--mantine-color-card-bg-6);

  &:hover {
    background-color: var(--mantine-color-primary-7);
  }
}
