@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  @keyframes fade-from-top {
    0% {
      opacity: 0;
      transform: translateY(-16px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-fade-from-top: fade-from-top 0.5s ease-out;

  @keyframes header-from-top {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  --animate-header-from-top: header-from-top 0.5s ease-out;

  @keyframes sidebar-from-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  --animate-sidebar-from-left: sidebar-from-left 0.5s ease-out;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  /* *
   * Themes courtesy of: https://shadcn-theme-generator.hyperlaunch.pro/
   *  1.0 radius
   *  Tint light mode
   *  Hue Based algorithm
   * /

  /* #7201d3 */
  html.default {
    --background: oklch(0.952 0.019 310);
    --card: oklch(0.952 0.019 310);
    --popover: oklch(0.952 0.019 310);
    --sidebar: oklch(0.952 0.019 310);
    --foreground: oklch(0.213 0.007 315);
    --card-foreground: oklch(0.213 0.007 315);
    --popover-foreground: oklch(0.213 0.007 315);
    --sidebar-foreground: oklch(0.213 0.007 315);
    --primary: oklch(0.415 0.224 297);
    --sidebar-primary: oklch(0.415 0.224 297);
    --primary-foreground: oklch(0.961 0 0);
    --sidebar-primary-foreground: oklch(0.961 0 0);
    --secondary: oklch(0.867 0.031 309);
    --accent: oklch(0.867 0.031 309);
    --sidebar-accent: oklch(0.867 0.031 309);
    --secondary-foreground: oklch(0.218 0 0);
    --accent-foreground: oklch(0.218 0 0);
    --sidebar-accent-foreground: oklch(0.218 0 0);
    --muted: oklch(0.889 0.019 310);
    --muted-foreground: oklch(0.547 0.031 309);
    --destructive: oklch(0.599 0.236 28);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.738 0.084 308);
    --sidebar-border: oklch(0.738 0.084 308);
    --ring: oklch(0.668 0.154 307);
    --sidebar-ring: oklch(0.668 0.154 307);
    --input: oklch(0.742 0.075 309);
    --chart-1: oklch(0.415 0.224 297);
    --chart-2: oklch(0.678 0.204 137);
    --chart-3: oklch(0.587 0.267 330);
    --chart-4: oklch(0.383 0.262 265);
    --chart-5: oklch(0.63 0.151 58);
    --radius: 1rem;
  }

  /* #7201d3 */
  html.default-dark {
    --background: oklch(0.208 0.015 311);
    --card: oklch(0.208 0.015 311);
    --popover: oklch(0.208 0.015 311);
    --sidebar: oklch(0.208 0.015 311);
    --foreground: oklch(0.959 0 0);
    --card-foreground: oklch(0.959 0 0);
    --popover-foreground: oklch(0.959 0 0);
    --sidebar-foreground: oklch(0.959 0 0);
    --primary: oklch(0.522 0.284 297);
    --sidebar-primary: oklch(0.522 0.284 297);
    --primary-foreground: oklch(0.961 0 0);
    --sidebar-primary-foreground: oklch(0.961 0 0);
    --secondary: oklch(0.274 0.061 309);
    --accent: oklch(0.274 0.061 309);
    --sidebar-accent: oklch(0.274 0.061 309);
    --secondary-foreground: oklch(0.961 0 0);
    --accent-foreground: oklch(0.961 0 0);
    --sidebar-accent-foreground: oklch(0.961 0 0);
    --muted: oklch(0.327 0.052 308);
    --muted-foreground: oklch(0.666 0.032 310);
    --destructive: oklch(0.608 0.23 28);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.295 0.084 306);
    --sidebar-border: oklch(0.295 0.084 306);
    --ring: oklch(0.328 0.147 303);
    --sidebar-ring: oklch(0.328 0.147 303);
    --input: oklch(0.296 0.076 307);
    --chart-1: oklch(0.522 0.284 297);
    --chart-2: oklch(0.888 0.262 136);
    --chart-3: oklch(0.695 0.316 330);
    --chart-4: oklch(0.452 0.311 265);
    --chart-5: oklch(0.746 0.179 57);
  }

  /* #FFD58E */
  html.coe33 {
    --background: oklch(0.968 0.011 85);
    --card: oklch(0.968 0.011 85);
    --popover: oklch(0.968 0.011 85);
    --sidebar: oklch(0.968 0.011 85);
    --foreground: oklch(0.218 0 0);
    --card-foreground: oklch(0.218 0 0);
    --popover-foreground: oklch(0.218 0 0);
    --sidebar-foreground: oklch(0.218 0 0);
    --primary: oklch(0.808 0.165 73);
    --sidebar-primary: oklch(0.808 0.165 73);
    --primary-foreground: oklch(0.218 0 0);
    --sidebar-primary-foreground: oklch(0.218 0 0);
    --secondary: oklch(0.896 0.02 85);
    --accent: oklch(0.896 0.02 85);
    --sidebar-accent: oklch(0.896 0.02 85);
    --secondary-foreground: oklch(0.218 0 0);
    --accent-foreground: oklch(0.218 0 0);
    --sidebar-accent-foreground: oklch(0.218 0 0);
    --muted: oklch(0.906 0.011 77);
    --muted-foreground: oklch(0.606 0.015 78);
    --destructive: oklch(0.603 0.235 28);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.85 0.034 82);
    --sidebar-border: oklch(0.85 0.034 82);
    --ring: oklch(0.832 0.069 81);
    --sidebar-ring: oklch(0.832 0.069 81);
    --input: oklch(0.847 0.03 81);
    --chart-1: oklch(0.808 0.165 73);
    --chart-2: oklch(0.555 0.246 262);
    --chart-3: oklch(0.945 0.218 118);
    --chart-4: oklch(0.648 0.239 31);
    --chart-5: oklch(0.882 0.201 159);
    --radius: 1rem;
  }

  /* #FFD58E */
  html.coe33-dark {
    --background: oklch(0.209 0.008 95);
    --card: oklch(0.209 0.008 95);
    --popover: oklch(0.209 0.008 95);
    --sidebar: oklch(0.209 0.008 95);
    --foreground: oklch(0.962 0 0);
    --card-foreground: oklch(0.962 0 0);
    --popover-foreground: oklch(0.962 0 0);
    --sidebar-foreground: oklch(0.962 0 0);
    --primary: oklch(0.877 0.116 80);
    --sidebar-primary: oklch(0.877 0.116 80);
    --primary-foreground: oklch(0.218 0 0);
    --sidebar-primary-foreground: oklch(0.218 0 0);
    --secondary: oklch(0.294 0.025 80);
    --accent: oklch(0.294 0.025 80);
    --sidebar-accent: oklch(0.294 0.025 80);
    --secondary-foreground: oklch(0.961 0 0);
    --accent-foreground: oklch(0.961 0 0);
    --sidebar-accent-foreground: oklch(0.961 0 0);
    --muted: oklch(0.344 0.022 81);
    --muted-foreground: oklch(0.691 0.014 82);
    --destructive: oklch(0.605 0.233 28);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.351 0.044 79);
    --sidebar-border: oklch(0.351 0.044 79);
    --ring: oklch(0.435 0.079 78);
    --sidebar-ring: oklch(0.435 0.079 78);
    --input: oklch(0.349 0.041 81);
    --chart-1: oklch(0.877 0.116 80);
    --chart-2: oklch(0.751 0.128 261);
    --chart-3: oklch(0.957 0.176 116);
    --chart-4: oklch(0.731 0.166 30);
    --chart-5: oklch(0.903 0.153 166);
  }
}
