@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius: 0.5rem;

  @keyframes fade-from-top {
    0% {
      opacity: 0;
      transform: translateY(-16px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  --animate-fade-from-top: fade-from-top 0.5s ease-out;

  @keyframes header-from-top {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  --animate-header-from-top: header-from-top 0.5s ease-out;

  @keyframes sidebar-from-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  --animate-sidebar-from-left: sidebar-from-left 0.5s ease-out;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  :root {
    --sidebar: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --radius: 0.5rem;
  }

  .dark {
    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
    --radius: 0.5rem;
  }

  /** Themes courtesy of: https://shadcn-theme-generator.hyperlaunch.pro/ */

  html.default {
    --background: oklch(0.231 0.01 304);
    --card: oklch(0.231 0.01 304);
    --popover: oklch(0.231 0.01 304);
    --sidebar: oklch(0.231 0.01 304);
    --foreground: oklch(0.961 0 0);
    --card-foreground: oklch(0.961 0 0);
    --popover-foreground: oklch(0.961 0 0);
    --sidebar-foreground: oklch(0.961 0 0);
    --primary: oklch(0.547 0.257 294);
    --sidebar-primary: oklch(0.547 0.257 294);
    --primary-foreground: oklch(0.961 0 0);
    --sidebar-primary-foreground: oklch(0.961 0 0);
    --secondary: oklch(0.298 0.041 305);
    --accent: oklch(0.298 0.041 305);
    --sidebar-accent: oklch(0.298 0.041 305);
    --secondary-foreground: oklch(0.961 0 0);
    --accent-foreground: oklch(0.961 0 0);
    --sidebar-accent-foreground: oklch(0.961 0 0);
    --muted: oklch(0.352 0.032 305);
    --muted-foreground: oklch(0.671 0.018 305);
    --destructive: oklch(0.613 0.228 27);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.307 0.062 303);
    --sidebar-border: oklch(0.307 0.062 303);
    --ring: oklch(0.324 0.133 297);
    --sidebar-ring: oklch(0.324 0.133 297);
    --input: oklch(0.307 0.058 302);
    --chart-1: oklch(0.547 0.257 294);
    --chart-2: oklch(0.56 0.234 292);
    --chart-3: oklch(0.632 0.217 307);
    --chart-4: oklch(0.612 0.183 287);
    --chart-5: oklch(0.675 0.16 301);
  }

  html.default-light {
    --background: oklch(0.976 0 0);
    --card: oklch(0.976 0 0);
    --popover: oklch(0.976 0 0);
    --sidebar: oklch(0.976 0 0);
    --foreground: oklch(0.214 0 0);
    --card-foreground: oklch(0.214 0 0);
    --popover-foreground: oklch(0.214 0 0);
    --sidebar-foreground: oklch(0.214 0 0);
    --primary: oklch(0.407 0.225 289);
    --sidebar-primary: oklch(0.407 0.225 289);
    --primary-foreground: oklch(0.961 0 0);
    --sidebar-primary-foreground: oklch(0.961 0 0);
    --secondary: oklch(0.879 0.008 302);
    --accent: oklch(0.879 0.008 302);
    --sidebar-accent: oklch(0.879 0.008 302);
    --secondary-foreground: oklch(0.218 0 0);
    --accent-foreground: oklch(0.218 0 0);
    --sidebar-accent-foreground: oklch(0.218 0 0);
    --muted: oklch(0.881 0.006 298);
    --muted-foreground: oklch(0.586 0.021 307);
    --destructive: oklch(0.597 0.238 29);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.802 0.042 304);
    --sidebar-border: oklch(0.802 0.042 304);
    --ring: oklch(0.729 0.102 302);
    --sidebar-ring: oklch(0.729 0.102 302);
    --input: oklch(0.805 0.038 303);
    --chart-1: oklch(0.407 0.225 289);
    --chart-2: oklch(0.368 0.205 284);
    --chart-3: oklch(0.385 0.188 303);
    --chart-4: oklch(0.314 0.174 276);
    --chart-5: oklch(0.343 0.164 294);
  }

  html.coe33 {
    --background: oklch(0.24 0.006 78);
    --card: oklch(0.24 0.006 78);
    --popover: oklch(0.24 0.006 78);
    --sidebar: oklch(0.24 0.006 78);
    --foreground: oklch(0.962 0 0);
    --card-foreground: oklch(0.962 0 0);
    --popover-foreground: oklch(0.962 0 0);
    --sidebar-foreground: oklch(0.962 0 0);
    --primary: oklch(0.875 0.081 66);
    --sidebar-primary: oklch(0.875 0.081 66);
    --primary-foreground: oklch(0.218 0 0);
    --sidebar-primary-foreground: oklch(0.218 0 0);
    --secondary: oklch(0.33 0.024 67);
    --accent: oklch(0.33 0.024 67);
    --sidebar-accent: oklch(0.33 0.024 67);
    --secondary-foreground: oklch(0.961 0 0);
    --accent-foreground: oklch(0.961 0 0);
    --sidebar-accent-foreground: oklch(0.961 0 0);
    --muted: oklch(0.375 0.019 61);
    --muted-foreground: oklch(0.686 0.011 68);
    --destructive: oklch(0.613 0.228 27);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.356 0.039 66);
    --sidebar-border: oklch(0.356 0.039 66);
    --ring: oklch(0.43 0.079 63);
    --sidebar-ring: oklch(0.43 0.079 63);
    --input: oklch(0.354 0.035 66);
    --chart-1: oklch(0.875 0.081 66);
    --chart-2: oklch(0.86 0.076 57);
    --chart-3: oklch(0.898 0.078 84);
    --chart-4: oklch(0.832 0.075 39);
    --chart-5: oklch(0.868 0.066 67);
  }

  html.coe33-light {
    --background: oklch(0.976 0 0);
    --card: oklch(0.976 0 0);
    --popover: oklch(0.976 0 0);
    --sidebar: oklch(0.976 0 0);
    --foreground: oklch(0.214 0 0);
    --card-foreground: oklch(0.214 0 0);
    --popover-foreground: oklch(0.214 0 0);
    --sidebar-foreground: oklch(0.214 0 0);
    --primary: oklch(0.351 0.04 261);
    --sidebar-primary: oklch(0.351 0.04 261);
    --primary-foreground: oklch(0.961 0 0);
    --sidebar-primary-foreground: oklch(0.961 0 0);
    --secondary: oklch(0.882 0.006 265);
    --accent: oklch(0.882 0.006 265);
    --sidebar-accent: oklch(0.882 0.006 265);
    --secondary-foreground: oklch(0.218 0 0);
    --accent-foreground: oklch(0.218 0 0);
    --sidebar-accent-foreground: oklch(0.218 0 0);
    --muted: oklch(0.882 0 0);
    --muted-foreground: oklch(0.592 0.012 262);
    --destructive: oklch(0.597 0.238 29);
    --destructive-foreground: oklch(0.961 0 0);
    --border: oklch(0.812 0.029 263);
    --sidebar-border: oklch(0.812 0.029 263);
    --ring: oklch(0.755 0.07 263);
    --sidebar-ring: oklch(0.755 0.07 263);
    --input: oklch(0.815 0.026 263);
    --chart-1: oklch(0.351 0.04 261);
    --chart-2: oklch(0.404 0.043 255);
    --chart-3: oklch(0.382 0.052 274);
    --chart-4: oklch(0.42 0.033 237);
    --chart-5: oklch(0.4 0.039 261);
    --radius: 0.5rem;
  }
}
