.header {
  background-color: var(--mantine-color-sidebar-bg-5);
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: light-dark(
    var(--mantine-color-border-7),
    var(--mantine-color-border-7)
  );
}

.footer {
  background-color: var(--mantine-color-sidebar-bg-5);
  border-color: light-dark(
    var(--mantine-color-border-7),
    var(--mantine-color-border-7)
  );
}

.main {
  background-color: var(--mantine-color-bg-5);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.logoContainer {
  flex: 1;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: $mantine-breakpoint-sm) {
    align-items: center;
    justify-content: center;
  }
}
