.header,
.navbar,
.footer {
	background-color: var(--mantine-color-sidebar-5);
}

.header {
	border-bottom: 1px solid var(--mantine-color-border-7);
}

.navbar {
	border-right: 1px solid var(--mantine-color-border-7);
}

.main {
	composes: ambientBackground from "./AmbientBackground.module.css";
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

.footer {
	border-top: 1px solid var(--mantine-color-border-7);
}
