[data-theme*='default-dark'] {
  color-scheme: dark;
  --color-gray-50: oklch(0.98 0.002 264);
  --color-gray-100: oklch(0.96 0.004 264);
  --color-gray-200: oklch(0.91 0.007 264);
  --color-gray-300: oklch(0.85 0.011 264);
  --color-gray-400: oklch(0.67 0.022 264);
  --color-gray-500: oklch(0.5 0.02 264);
  --color-gray-600: oklch(0.4 0.018 264);
  --color-gray-700: oklch(0.33 0.015 264);
  --color-gray-800: oklch(0.23 0.012 264);
  --color-gray-900: oklch(0.17 0.01 265);
  --color-gray-950: oklch(0.12 0.007 264);

  --color-zinc-50: oklch(0.98 0.001 264);
  --color-zinc-100: oklch(0.96 0.004 264);
  --color-zinc-200: oklch(0.9 0.007 264);
  --color-zinc-300: oklch(0.84 0.011 264);
  --color-zinc-400: oklch(0.68 0.023 264);
  --color-zinc-500: oklch(0.52 0.022 264);
  --color-zinc-600: oklch(0.42 0.019 264);
  --color-zinc-700: oklch(0.34 0.015 264);
  --color-zinc-800: oklch(0.22 0.011 264);
  --color-zinc-900: oklch(0.16 0.009 264);
  --color-zinc-950: oklch(0.11 0.006 264);

  --color-primary-50: oklch(0.969 0.025 295.7);
  --color-primary-100: oklch(0.945 0.037 295.7);
  --color-primary-200: oklch(0.885 0.055 295.7);
  --color-primary-300: oklch(0.782 0.08 295.7);
  --color-primary-400: oklch(0.677 0.116 295.7);
  --color-primary-500: oklch(0.563 0.154 295.7);
  --color-primary-600: oklch(0.497 0.17 295.7);
  --color-primary-700: oklch(0.432 0.186 295.7);
  --color-primary-800: oklch(0.357 0.186 295.7);
  --color-primary-900: oklch(0.298 0.18 295.7);
  --color-primary-950: oklch(0.176 0.158 295.7);

  --color-secondary-50: oklch(0.97 0.025 195);
  --color-secondary-100: oklch(0.95 0.048 193);
  --color-secondary-200: oklch(0.91 0.087 193);
  --color-secondary-300: oklch(0.84 0.138 193);
  --color-secondary-400: oklch(0.75 0.17 193);
  --color-secondary-500: oklch(0.66 0.19 193);
  --color-secondary-600: oklch(0.57 0.184 194);
  --color-secondary-700: oklch(0.47 0.153 195);
  --color-secondary-800: oklch(0.4 0.128 196);
  --color-secondary-900: oklch(0.35 0.106 196);
  --color-secondary-950: oklch(0.25 0.073 196);

  --color-accent1-50: oklch(0.97 0.032 94);
  --color-accent1-100: oklch(0.94 0.05 92);
  --color-accent1-200: oklch(0.91 0.124 86);
  --color-accent1-300: oklch(0.88 0.135 85);
  --color-accent1-400: oklch(0.81 0.166 82);
  --color-accent1-500: oklch(0.75 0.18 79);
  --color-accent1-600: oklch(0.67 0.185 73);
  --color-accent1-700: oklch(0.57 0.152 66);
  --color-accent1-800: oklch(0.51 0.113 62);
  --color-accent1-900: oklch(0.46 0.089 59);
  --color-accent1-950: oklch(0.31 0.057 51);

  --color-accent2-50: oklch(0.97 0.025 142);
  --color-accent2-100: oklch(0.95 0.05 140);
  --color-accent2-200: oklch(0.92 0.09 142);
  --color-accent2-300: oklch(0.85 0.145 142);
  --color-accent2-400: oklch(0.77 0.18 142);
  --color-accent2-500: oklch(0.67 0.19 142);
  --color-accent2-600: oklch(0.57 0.158 142);
  --color-accent2-700: oklch(0.46 0.124 142);
  --color-accent2-800: oklch(0.38 0.096 142);
  --color-accent2-900: oklch(0.33 0.077 143);
  --color-accent2-950: oklch(0.22 0.048 150);

  --color-accent3-50: oklch(0.96 0.032 25);
  --color-accent3-100: oklch(0.91 0.064 25);
  --color-accent3-200: oklch(0.86 0.1 25);
  --color-accent3-300: oklch(0.77 0.149 25);
  --color-accent3-400: oklch(0.67 0.187 26);
  --color-accent3-500: oklch(0.58 0.215 27);
  --color-accent3-600: oklch(0.52 0.225 27);
  --color-accent3-700: oklch(0.45 0.206 27);
  --color-accent3-800: oklch(0.4 0.184 27);
  --color-accent3-900: oklch(0.35 0.16 27);
  --color-accent3-950: oklch(0.22 0.092 27);

  --background: oklch(0.2091 0.0104 268.1867);
  --foreground: var(--color-white);
  --background-solid: var(--color-black);
  --surface-solid: var(--color-white);
  --card: oklch(0.1962 0.0304 298.9041);
  --card-foreground: var(--color-white);
  --popover: oklch(0.1962 0.0304 298.9041);
  --popover-foreground: var(--color-white);
  --primary: var(--color-primary-500);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-secondary-500);
  --secondary-foreground: var(--color-black);
  --muted: var(--color-gray-300);
  --muted-foreground: var(--color-white);
  --accent: var(--color-accent1-500);
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-white);
  --border: var(--color-primary-500);
  --input: var(--color-black);
  --ring: var(--color-primary-300);
  --chart-1: var(--color-primary-700);
  --chart-2: var(--color-secondary-700);
  --chart-3: var(--color-accent1-700);
  --chart-4: var(--color-accent2-700);
  --chart-5: var(--color-accent3-700);
  --sidebar: oklch(0.2149 0.0335 297.0187);
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-primary-500);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-primary-700);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-primary-500);
  --sidebar-ring: var(--color-primary-700);
}

[data-theme*='default-dark'][data-theme*='deuteranopic'] {
  --color-accent2-50: oklch(0.972 0.009 259.6);
  --color-accent2-100: oklch(0.877 0.052 259.6);
  --color-accent2-200: oklch(0.755 0.104 259.6);
  --color-accent2-300: oklch(0.633 0.156 259.6);
  --color-accent2-400: oklch(0.507 0.191 259.6);
  --color-accent2-500: oklch(0.448 0.168 259.6);
  --color-accent2-600: oklch(0.382 0.146 259.6);
  --color-accent2-700: oklch(0.316 0.124 259.6);
  --color-accent2-800: oklch(0.249 0.102 259.6);
  --color-accent2-900: oklch(0.182 0.08 259.6);
  --color-accent2-950: oklch(0.124 0.054 259.6);

  --color-accent3-50: oklch(0.976 0.012 29.2);
  --color-accent3-100: oklch(0.857 0.073 29.2);
  --color-accent3-200: oklch(0.738 0.134 29.2);
  --color-accent3-300: oklch(0.619 0.195 29.2);
  --color-accent3-400: oklch(0.507 0.232 29.2);
  --color-accent3-500: oklch(0.446 0.204 29.2);
  --color-accent3-600: oklch(0.382 0.175 29.2);
  --color-accent3-700: oklch(0.318 0.146 29.2);
  --color-accent3-800: oklch(0.254 0.117 29.2);
  --color-accent3-900: oklch(0.19 0.088 29.2);
  --color-accent3-950: oklch(0.125 0.058 29.2);
}

[data-theme*='default-dark'][data-theme*='protanopic'] {
  --color-accent2-50: oklch(0.97 0.025 142);
  --color-accent2-100: oklch(0.95 0.05 140);
  --color-accent2-200: oklch(0.92 0.09 142);
  --color-accent2-300: oklch(0.85 0.145 142);
  --color-accent2-400: oklch(0.77 0.18 142);
  --color-accent2-500: oklch(0.67 0.19 142);
  --color-accent2-600: oklch(0.57 0.158 142);
  --color-accent2-700: oklch(0.46 0.124 142);
  --color-accent2-800: oklch(0.38 0.096 142);
  --color-accent2-900: oklch(0.33 0.077 143);
  --color-accent2-950: oklch(0.22 0.048 150);

  --color-accent3-50: oklch(0.972 0.009 259.6);
  --color-accent3-100: oklch(0.877 0.052 259.6);
  --color-accent3-200: oklch(0.755 0.104 259.6);
  --color-accent3-300: oklch(0.633 0.156 259.6);
  --color-accent3-400: oklch(0.507 0.191 259.6);
  --color-accent3-500: oklch(0.448 0.168 259.6);
  --color-accent3-600: oklch(0.382 0.146 259.6);
  --color-accent3-700: oklch(0.316 0.124 259.6);
  --color-accent3-800: oklch(0.249 0.102 259.6);
  --color-accent3-900: oklch(0.182 0.08 259.6);
  --color-accent3-950: oklch(0.124 0.054 259.6);
}
