html[data-theme~='solarized-dark'] {
  color-scheme: dark;
  --color-background: oklch(0.212 0.055 264.2);
  --color-surface: oklch(0.929 0.045 99.7);

  --color-primary-50: oklch(0.991 0.012 187.2);
  --color-primary-100: oklch(0.902 0.219 187.2);
  --color-primary-200: oklch(0.765 0.2 187.2);
  --color-primary-300: oklch(0.627 0.181 187.2);
  --color-primary-400: oklch(0.492 0.154 187.2);
  --color-primary-500: oklch(0.434 0.134 187.2);
  --color-primary-600: oklch(0.376 0.115 187.2);
  --color-primary-700: oklch(0.318 0.095 187.2);
  --color-primary-800: oklch(0.26 0.076 187.2);
  --color-primary-900: oklch(0.202 0.056 187.2);
  --color-primary-950: oklch(0.144 0.037 187.2);

  --color-secondary-50: oklch(0.988 0.009 282.2);
  --color-secondary-100: oklch(0.919 0.07 282.2);
  --color-secondary-200: oklch(0.803 0.151 282.2);
  --color-secondary-300: oklch(0.687 0.204 282.2);
  --color-secondary-400: oklch(0.577 0.181 282.2);
  --color-secondary-500: oklch(0.506 0.158 282.2);
  --color-secondary-600: oklch(0.435 0.135 282.2);
  --color-secondary-700: oklch(0.364 0.112 282.2);
  --color-secondary-800: oklch(0.293 0.089 282.2);
  --color-secondary-900: oklch(0.222 0.066 282.2);
  --color-secondary-950: oklch(0.151 0.043 282.2);

  --color-accent1-50: oklch(0.996 0.032 85.2);
  --color-accent1-100: oklch(0.983 0.064 85.2);
  --color-accent1-200: oklch(0.93 0.101 85.2);
  --color-accent1-300: oklch(0.858 0.149 85.2);
  --color-accent1-400: oklch(0.762 0.187 85.2);
  --color-accent1-500: oklch(0.666 0.215 85.2);
  --color-accent1-600: oklch(0.57 0.225 85.2);
  --color-accent1-700: oklch(0.474 0.206 85.2);
  --color-accent1-800: oklch(0.378 0.184 85.2);
  --color-accent1-900: oklch(0.282 0.16 85.2);
  --color-accent1-950: oklch(0.186 0.092 85.2);

  --color-accent2-50: oklch(0.97 0.025 142);
  --color-accent2-100: oklch(0.95 0.05 140);
  --color-accent2-200: oklch(0.92 0.09 142);
  --color-accent2-300: oklch(0.85 0.145 142);
  --color-accent2-400: oklch(0.77 0.18 142);
  --color-accent2-500: oklch(0.67 0.19 142);
  --color-accent2-600: oklch(0.57 0.158 142);
  --color-accent2-700: oklch(0.46 0.124 142);
  --color-accent2-800: oklch(0.38 0.096 142);
  --color-accent2-900: oklch(0.33 0.077 143);
  --color-accent2-950: oklch(0.22 0.048 150);

  --color-accent3-50: oklch(0.96 0.032 25);
  --color-accent3-100: oklch(0.91 0.064 25);
  --color-accent3-200: oklch(0.86 0.1 25);
  --color-accent3-300: oklch(0.77 0.149 25);
  --color-accent3-400: oklch(0.67 0.187 26);
  --color-accent3-500: oklch(0.58 0.215 27);
  --color-accent3-600: oklch(0.52 0.225 27);
  --color-accent3-700: oklch(0.45 0.206 27);
  --color-accent3-800: oklch(0.4 0.184 27);
  --color-accent3-900: oklch(0.35 0.16 27);
  --color-accent3-950: oklch(0.22 0.092 27);
}
