.avatarButton {
	border-radius: var(--mantine-radius-md);
	padding: 4px;
	cursor: pointer;
	transition: background-color 150ms ease;
	border: 2px solid transparent;

	&:hover {
		background-color: var(--mantine-color-default-hover);
	}
}

.avatarButtonSelected {
	border-color: var(--mantine-color-primary-5);
	background-color: var(--mantine-color-primary-light);
}

.avatarButtonPrimary {
	border-color: var(--mantine-color-primary-5);
	background-color: var(--mantine-color-primary-light);
}

.avatarButtonOverride {
	border-color: var(--mantine-color-accent-5);
	background-color: var(--mantine-color-accent-light);
}
